.carousel-container{
     /* display: flex; */
    /* justify-content: center; */
    /* max-width: 100%; */ 
    margin: auto;
    padding: 20px 40px;
    width: auto;
}
.carousel img{
    height: calc(80vh - 100px);
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}
.prod_action > *{
  margin-right: 15px;
}
.container-fluid{
  padding-top: 25px ;
}