<div class="btn-group" role="group" aria-label="Basic example" id="value-btn">
        <button type="button" class="btn btn-outline-secondary" value="p" onclick="valueBtn(this)">
            <i class="fas fa-plus"></i>
        </button>
        <input class="cart-input" type="text" name="quantity" style="max-width: 35px" value="<%=qnt%>">
        <button type="button" class="btn btn-outline-secondary" value="m" onclick="valueBtn(this)">
            <i class="fas fa-minus"></i>
        </button>
</div>