<%# <form action="/admin/delete-product" method="POST"> %>
<form action="<%=path%>" method="POST">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <input type="hidden" name="id" value="<%=id%>">
</form>