<div class="jumbotron">
  <h1 class="display-4">No products were found</h1>
  <p class="lead">No product were found, please comeback later</p>
  <hr class="my-4">
  <p>Or check out our other pages.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>