<div class="card-columns">
<%if(product.length > 0){%>
  <div class="card">
    <img src="<%=product.img%>" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= product.title%></h5>
      <p class="card-text"><%=product.discription%></p>
    </div>
  </div>
  <%}%>
</div>